body {
  font-size: 16px;
  background-color: #272727;
  display: grid;
  grid-template-columns: 1fr 640px 1fr;
}

footer {
  grid-column: -1/1;
  height: 200px;
}

.marquee {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  grid-column: -1/1;
  background-color: #edaca4;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.marquee p {
  color: #272727;
  position: absolute;
  width: 100%;
  margin: 0;
  text-align: center;
}

#intro-text-container {
  grid-column: 2/3;
}

.user-text {
  display: flex;
  justify-content: flex-end;
  margin: 8px 0;
}

.me-text {
  margin: 8px 0;
}
.user-text span {
  background-color: #CECECE;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

.me-text span {
  background-color: #EDACA4;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

.user-text span, .me-text span {
  display: inline-block;
  padding: .5rem;
  border-radius: .5rem;
}

h1 {
  font-family: "DM Serif Display", serif;
  font-size: 2.25rem;
}

p,
li {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}
